* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: "Kanit", sans-serif;
  color: white;
  text-align: center;
  transition: 1s;
}

button {
  cursor: pointer;
  border: none;
}

img {
  width: 200px;
}

.container {
  width: 100vw;
  height: 100vh;
  padding: 10px;
  background-color: rgb(35, 35, 73);
  position: relative;
}

/* ///////////////////////  score container  ////////////////////// */
.scoreContainer {
  width: 50%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  line-height: 15px;
  padding: 10px 20px;
  margin: 10px auto 30px;
  border-radius: 10px;
  border: 2px solid;
  border-color: rgb(255, 84, 84) red rgb(115, 115, 255) blue;

}

.scoreContainer h1 {
  font-size: 17px;
  width: 5%;
}

.playersScore {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px;
}

.playerScore,
.computerScore {
  border-radius: 5px;
  background-color: white;
  color: red;
  padding: 20px;
}

.computerScore {
  color: blue;
}

.pScore,
.cScore {
  margin-left: 20px;
  color: black;
  font-size: 20px;
}


/* ///////////////////////////   game container   ///////////////////////// */
.players {
  display: flex;
  height: 45vh;
  justify-content: center;
  align-items: center;
}

.player,
.computer {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 40%;
  height: inherit;
  border-radius: 10px;
  position: relative;
}

.player {
  background-color: #cff5fe;
  box-shadow: 1px 1px 7px 1px rgb(255, 106, 106);

}

.player .animatePlayer {
  animation: playerStart 0.5s linear 6 alternate;
  transform-origin: left;
}

@keyframes playerStart {
  from {
    transform: rotate(20deg);
  }

  to {
    transform: rotate(-30deg);
  }
}

.computer {
  background-color: aliceblue;
  box-shadow: 1px 1px 7px 1px rgb(80, 80, 255);
}

.computer .animateComputer {
  animation: computerStart 0.5s linear 6 alternate;
  transform-origin: right;
}

@keyframes computerStart {
  from {
    transform: rotate(-20deg);
  }

  to {
    transform: rotate(30deg);
  }
}

.versus {
  margin: 20px;
  font-size: 50px;
  font-weight: bold;
  background: linear-gradient(to right, rgb(255, 29, 29), rgb(81, 81, 255));
  background-clip: text;
  -webkit-text-fill-color: transparent;
}

.endMsg {
  margin-top: 10px;
}

/* //////////////////////////  btns  //////////////////////////// */

.btns {
  margin: 10px;
  padding: 20px;
}

i {
  color: black;
}

.handsBtns {
  padding: 10px;
  display: flex;
  justify-content: center;
  gap: 50px;
  margin-bottom: 20px;
}

.handsBtns .handBtn {
  width: 60px;
  background-color: white;
  height: 60px;
  line-height: 30px;
  font-size: 30px;
  border-radius: 50%;
  outline: 10px solid rgb(224, 33, 33);
}

.handsBtns .handBtn:nth-child(2) {
  outline: 10px solid blue;
}

.handsBtns .handBtn:nth-child(3) {
  outline: 10px solid rgb(255, 170, 0);
}

.handsBtns .handBtn:hover i {
  color: rgb(224, 33, 33);
}

.handsBtns .handBtn:nth-child(2):hover i {
  color: blue;
}

.handsBtns .handBtn:nth-child(3):hover i {
  color: rgb(255, 170, 0);
}

.gameBtns button {
  background-color: rgb(35, 35, 35);
  padding: 5px 10px;
  border-radius: 5px;
}

.gameBtns button:hover {
  background-color: black;
}

.handsBtns .greyBtn {
  pointer-events: none;
  cursor: not-allowed !important;
  outline: 10px solid grey !important;
}

.handsBtns .greyBtn:hover i {
  color: black;
}

/* ////////////   modal /////////// */
.overlay {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(47, 47, 70, 0.408);
  display: none;
}
.modal{
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%,-50%);
  width: 40%;
  height: 50%;
  margin: auto;
  padding: 20px;
  background-color: aliceblue;
  border-radius: 10px;
}
.modal .exit{
  width: 30px;
  height: 30px;
  line-height: 10px;
  font-weight: bold;
  font-size: 15px;
  float: right;
  padding: 10px;
  background-color: rgb(203, 2, 2);
  border-radius: 10px;

}
.modal ul{
  list-style-position: inside;
  list-style-type: disc;
  padding: 10px;

}
.modal li{
  font-size: 20px;
  color: rgb(6, 6, 82);
  text-align: left;

}
.modal h2{
  margin: 40px ;
  color: rgb(3, 3, 110);

}
.modal span{
  color: black;
  
}
@media screen and (max-width: 992px) {
  .scoreContainer {
    width: 70%;
  }
    .modal {
      width: 60%;
    }
    .player,.computer{
      width: 35%;
    }
    .player img,.computer img{
      width: 170px;
    }
    .versus{
      font-size: 35px;
    }
}

@media screen and (max-width: 768px) {
  .scoreContainer {
    width: 90%;
  }
    .modal {
      width: 80%;
    }
         .player,
         .computer {
           width: 45%;
         }
    
         .player img,
         .computer img {
           width: 150px;
         }
    
         .versus {
           font-size: 30px;
         }
}